@font-face {

}
* {

}
body {
    margin: 0;
    direction: rtl;
    background: #111;
}
a {
    text-decoration: none;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.movie-list .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-list .items ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
   /* flex-wrap: wrap;*/
}
.movie-list .items ul li {
    width:25%;
    position: relative;
}
.movie-list .items ul li:hover .overlay ,
.movie-list .items ul li:hover .hover-box {
    opacity: 1;
    visibility: visible;
}
.movie-list .items ul li a {
    display: block;
}
.movie-list .items ul li a .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.movie-list .items ul li a .free {
    position: absolute;
    top: 8px;
    left: 8px;
    background: #4dab56;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 10px;
}
.movie-list .items ul li a .copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.movie-list .items ul li a .overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba( 255,255,255,0.3);
    left: 0;
    top: 0;
    transition: all 1s;
}
.movie-list .items ul li:hover .hover-box h5 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    color: #fff;
    right: 10px;
    bottom: 10px; 
    transition: all 1s;
}


