@font-face {
    font-family: vazir;
    src: url("../font/vazir/Vazirmatn-ExtraLight.woff2") format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: vazir;
    src: url('../font/vazir/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}  
@font-face {
    font-family: vazir;
    src: url('../font/vazir/Vazirmatn-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: vazir;
    src: url('../font/vazir/Vazirmatn-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: black;
    color: #fff;
    direction: rtl;
    font-family: 'vazir';
}
a {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
    padding: 0;
}
.header {
    font-size: 0.8rem;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    position: fixed;
    z-index: 4;
}
.wrapper {
    padding: 0 30px;
}
.header .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper .right {
    display: flex;
    align-items: center;
    width: 463.13px;
    gap: 100px;
}
.header-wrapper .right .logo img {
    width: 80px;
}
.header-wrapper .right .menu ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-wrapper .right .menu ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    flex: 0 1 25%;
    gap: 2px;
}
.header-wrapper .right .menu .tour {
    display: flex;
    flex: 0 1 25%;
    gap: 2px;
}
.header-wrapper .right .menu .tour .tour {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.header-wrapper .right .menu .school {
    display: flex;
    flex: 0 1 25%;
    gap: 2px;
}
.header-wrapper .right .menu .school .school {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.header-wrapper .right .menu .search {
    display: flex;
    flex: 0 1 25%;
    gap: 2px;
}
.header-wrapper .right .menu .search .search {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
.header-wrapper .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.header-wrapper .left a {
    color: #fff;
}
.header-wrapper .left .shopping {
    background: #1cb561;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 2px 0 10px;
}
.header-wrapper .left .shopping .shopping {
    height: 24px;
}
.header-wrapper .left .login {
    background:rgba(255,255,255,.2);
    border-radius: 8px;
    text-align: center;
    padding: 0 10px;
}
.hero {
    padding-top: 90px;
    background-image: url(https://static.cdn.asset.filimo.com/flmt/mov_cvr_141218_6942.jpg?width=1920&quality=90&secret=j3CcykNiDaR5jiuDhEHvvA);
    background-size: cover;
    position: relative;
}
.hero .img-transparent {
    width: 100%;
    height: 100%;
    background-color: rgba(1 , 1 , 1 , .6);
    position: absolute;
    left: 0;
    top: 0;
}
.hero .hero-content-wrapper {
    padding-right: 225px;
    padding-left: 225px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 20px;
    position: relative;
    z-index: 2;
}
.hero .hero-content-wrapper .holder {
    position: relative;
}
.hero .hero-content-wrapper .content-img-transparent {
    width: 100%;
    height: 100%;
    background-color: rgba(1 , 1 , 1 , 0.2);
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
}
.hero .hero-content-wrapper .content {
    height: 345px;
}
.hero .hero-content-wrapper .content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 10px;
}
.hero .hero-content-wrapper img ,
.hero .hero-content-wrapper .hero-footer .right {
    width: 240px;
}
.hero .hero-content-wrapper .content ul li {
    display: flex;
    align-items: center;
    gap: 2px;
}
.hero .hero-content-wrapper .content ._3 ,
.hero .hero-content-wrapper .content ._4 ,
.hero .hero-content-wrapper .content ._7  {
    margin-bottom: 32px;
}
.hero .hero-content-wrapper .content h4 {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 25px;
}
.hero .hero-content-wrapper .content ._3 {
    display: flex;
    align-items: center;
    background-color: #1cb561;
    width:max-content;
    font-size: 0.7rem;
    border-radius: 10px;
    padding: 0 8px;
}
.hero .hero-content-wrapper .content ._4 {
    color: #fdc13c;
}  
.hero .hero-content-wrapper .content img {
    width: 20px;
    /*height: 20px;*/
}
.hero .hero-content-wrapper .content ._8 {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero .hero-content-wrapper .content ._8 span {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgba(255,255,255,.2);
    border-radius: 12px;
    padding: 0 8px;
    font-size: 0.8rem;
}
.hero .hero-content-wrapper .hero-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 0.8rem;
    padding-bottom: 10px;
}
.hero .hero-content-wrapper .hero-footer .right ul ,
.hero .hero-content-wrapper .hero-footer .left ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.hero .hero-content-wrapper .hero-footer .right li {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,.2);
    border-radius: 12px;
    padding: 0 8px;
}               
.hero .hero-content-wrapper .hero-footer .right img {
   /* height: 24px;*/
    width: 20px;
}
.hero .hero-content-wrapper .hero-footer .left {
    display: flex;
    align-items: center;
    background-color: #1cb561;
    border-radius: 24px;
    padding: 5px 16px;
}
.hero .hero-content-wrapper .hero-footer .left img {
    width: 24px;
    margin-left: 16px;
}
.irancell .irancell-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 15px;
}
.irancell .irancell-header .title {
    color: white;
}
.irancell .irancell-header .more a {
    color: #fdc13c;
    font-size: 0.8rem;
}
.irancell .items ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.irancell .items ul li {
    width: 25%;
    position: relative;
    margin: 5px 0;
    padding: 0 3px;
}
.irancell .items ul li:hover .overlay ,
.irancell .items ul li:hover .hover-box {
    opacity: 1;
    visibility: visible;
}
.irancell .items ul li a {
    display: block;
}
.irancell .items ul li a .poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;;
}
.irancell .items ul li a .free {
    position: absolute;
    top: 8px;
    left: 18px;
    background: #4dab56;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 10px;
}
.irancell .items ul li a .copyright {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.irancell .items ul li a .overlay {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    left: 0;
    top: 0;
    transition: all 1s;
    z-index: 3;
}
.irancell .items ul li a .hover-box {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 19px;
    color: #fff;
    right: 20px;
    transition: all 1s;
    font-size: 0.7rem;
    font-weight: 200;
    line-height: 20px;
    z-index: 3;
}
.irancell .items ul li a .hover-box .hoverbox-1 {
    width: max-content;
    background-color: rgba(255,255,255,.2);
    border-radius: 12px;
    padding: 0 8px;
}
.irancell .items ul li a .hover-box img {
    width: 15px;
}